<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand">Dating App</a>

    <ul
      *ngIf="accountService.currUser()"
      class="navbar-nav me-auto mb-2 mb-lg-0"
    >
      <li class="nav-item">
        <a class="nav-link">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">List</a>
      </li>

      <li class="nav-item">
        <a class="nav-link">Messages</a>
      </li>
    </ul>

    <div *ngIf="accountService.currUser()" class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        Welcome {{ model.username }} <span class="caret"></span>
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a class="dropdown-item" href="#">Edit Profile</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

    <form
      *ngIf="!accountService.currUser()"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
