<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>

    <ul *ngIf="loggedIn" class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List</a>
      </li>

      <li class="nav-item">
        <a class="nav-link">Messages</a>
      </li>
    </ul>

    <div class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        Button dropdown <span class="caret"></span>
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Another action</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Something else here</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul>
    </div>

    <form
      *ngIf="!loggedIn"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
